@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0";

.pagination {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.page-info {
    display: inline-block;
    margin: 3px 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
}

.next-button, .prev-button{
    border-radius: 20px;
    background-color: #F2DB83;
    font-size: 30px;
}