main{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width:200px;
    margin:1rem;
    position:relative;
    overflow:hidden;

}

.poster{
    width:100%;
}

.poster img{
    width: 100%;
    position: absolute;
    border-radius: 10px;
}

.overview{
    left: 0;
    right: 0;
    top:0;
    padding:1rem;
    max-height: 100%;
    position: absolute;
    word-wrap: break-word;
    transform: translateY(-101%);
    transition: transform 0.3s ease-in;
    font-family:'Times New Roman', Times, serif;
    overflow-y:scroll;
    height:200px;
    line-height: 20px;
    font-size: 15px;
    font-weight: bolder;
    color:#F2DB83;
    border-radius: 10px;
}

::-webkit-scrollbar{
    width: 0;
}

.poster:hover .overview{
    transform: translateY(0);
}

.movie-info{
    position: relative;
    margin-top: 320px;
}

.title{
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #DBA506;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.date{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #DBA506;
    text-align: center;
}

.other{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #DBA506;
    text-align: center;
}

#like{
    background-color: rgb(255, 29, 29);
    border: none;
    color:white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 3px 20px 0 rgba(0,0,0,0.2);
    margin-left: 25px;
    margin-bottom: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#like:hover{
    background-color: darkred;
}


#block{
    background-color:green;
    border: none;
    color:white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 3px 20px 0 rgba(0,0,0,0.2);
    margin-left: 50px;
    margin-bottom: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#block:hover{
    background-color: darkgreen;
}


.badger{
    height:15px;
    width:15px;
    background-color:darkred;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 0.5rem;
    position:absolute;
    top:-5px;
    left:63px;
}