@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0";
* {
    box-sizing: border-box;
}
.sortbtns {
    display: flex;
    justify-content: space-evenly;
    padding-top: 45px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
}
.btn {
    background-color:#DBA506;
    width: 120px;
    padding: 0.2em;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0.5em;
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/*
.material-symbols-outlined {
    
    font-variation-settings:
    'FILL' 0,
    'wght' 20,
    'GRAD' 0,
    'opsz' 20
  }
  */